<div class="app-container">  
  <section class="about-container" *ngIf="perfil">
    <div class="about-content">
      <div class="perfil">
        <img [src]="perfil.foto" alt="Foto de {{ perfil.nombre }}" class="perfil-foto" />
        <div class="perfil-info">
          <h1 class="perfil-nombre">{{ perfil.nombre }}</h1>
          <h2 class="perfil-titulo">{{ perfil.titulo }}</h2>
          <p class="perfil-biografia">{{ perfil.biografia }}</p>
        </div>
      </div>   

      <app-habilidades></app-habilidades>
      
      <div class="experiencia">
        <h2>Experiencia Laboral</h2>
        <div *ngFor="let exp of perfil.experiencia" class="exp-item">
          <h4>{{ exp.puesto }} - {{ exp.empresa }}</h4>
          <small>{{ exp.fechaInicio }} - {{ exp.fechaFin }}</small>

          <ul>
            <li *ngFor="let desc of exp.descripcion">{{ desc }}</li>
            <br>
          </ul>

          <div class="tecnologias" >
            <span *ngFor="let tech of exp.tecnologias" class="badge" style="display: inline-flex; align-items: center; gap: 6px;">
              <i [class]="tech.icono" aria-hidden="true"></i> {{ tech.nombre }}
            </span>
          </div>
        </div>
      </div>

      <div class="educacion">
        <h2>Educación</h2>
        <div *ngFor="let edu of perfil.educacion" class="edu-item">
          <h4>{{ edu.institucion }}</h4>
          <small>{{ edu.ciudad }} • {{ edu.fechaInicio }} - {{ edu.fechaFin }}</small>
          <p>{{ edu.descripcion }}</p>
        </div>
      </div> 
      
    </div>
  </section>
</div>
