.about-container {
  max-width: 1000px;
  margin: auto;
  margin-top: 3rem;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

/* Perfil */
.about-content .perfil {
  flex: 1 1 300px;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-content .educacion {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content .experiencia {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.perfil-foto {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #03fa6e;
  display: block;
  margin-bottom: 2rem;  
  flex-shrink: 0;
}
.perfil-foto:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 255, 128, 0.6);
}

.perfil-info {
  flex: 1;
  min-width: 300px;
  color: #fff;
}

.perfil-nombre {
  font-size: 2rem;
  color: #03fa6e;
  margin-bottom: 0.5rem;
}

.perfil-titulo {
  font-size: 1.3rem;
  color: #69f0ae;
  margin-bottom: 1rem;
}

.perfil-biografia {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
}

/* Responsive: apila contenido en móviles */


@media (max-width: 768px) {
  .perfil {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  .perfil-info {
    width: 100%;
    text-align: center;
  }

  .perfil-biografia {
    text-align: center;
    font-size: 0.95rem;
  }

  .perfil-foto {
    margin: 0 auto;
  }
}




/* Sección de Experiencia */

.experiencia h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #03fa6e;
  text-align: center;
}

.exp-item {
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;  
}

.exp-item h4 {
  color: #03fa6e;
  margin-bottom: 6px;
  font-size: 1.2rem;
}

.exp-item small {
  color: #ccc;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 12px;
  font-style: italic;
}

.exp-item ul {
  padding-left: 20px;
  list-style-type: disc;
  color: #eee;
  margin: 0;
}

.exp-item li {
  margin-bottom: 6px;
  line-height: 1.5;
  font-size: 0.95rem;
}

/* Sección de Educación */

.educacion h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
  color: #03fa6e;
}
.edu-item {
  background-color: #1e1e1e;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  width: 100%;
  color: #b9f6ca; /* verde neón tenue */
}

.edu-item h4 {
  color: #03fa6e; /* verde neón */
  margin-bottom: 4px;
}

.edu-item small {
  color: #ccc;
  font-style: italic;
}

.edu-item p {
  margin-top: 8px;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #eee;
}



