.about-container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.perfil-foto {
  width: 150px;
  border-radius: 2rem;
  object-fit: cover;
}

.texto {
  flex: 1;
}

.texto h1 {
  font-size: 2rem;
  margin: 0;
}

.texto h2 {
  font-size: 1.2rem;
  color: #aaa;
}
.texto h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #03fa6e;
}

.texto h4 {
  font-size: 1.1rem;
  color: #aaa !important;
  margin-top: 0.5rem;
}

.texto p {
  margin-top: 1rem;
  line-height: 1.5;
}

.habilidades h3 {
  margin-top: 2rem;
}

.habilidades ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
}

.habilidades li {
  background: #2f2f2f;
  color: #03fa6e;
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.85rem;
}

.habilidad-badge {
  display: inline-block;
  background: #121212;
  color: #03fa6e;
  padding: 0.3rem 0.7rem;
  margin: 0.2rem;
  border-radius: 5px;
  border: 0.5px solid #03fa6e;
  font-size: 0.85rem;
  transition: all 0.3s ease;
  cursor: default;
}

.habilidad-badge:hover {
  background: #03fa6e;
  color: #121212;
  box-shadow: 0 0 8px #03fa6e, 0 0 12px #03fa6e;
}

.experiencia {
  margin-top: 40px;
}

.experiencia h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #03fa6e;
}

.exp-item {
  background-color: #1e1e1e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.exp-item h4 {
  color: #b9f6ca;
  margin-bottom: 6px;
  font-size: 1.2rem;
}

.exp-item small {
  color: #ccc;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 12px;
  font-style: italic;
}

.exp-item ul {
  padding-left: 20px;
  list-style-type: disc;
  color: #eee;
  margin: 0;
}

.exp-item li {
  margin-bottom: 6px;
  line-height: 1.5;
  font-size: 0.95rem;
}
.edu-item {
  background-color: #1e1e1e;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  color: #b9f6ca; /* verde neón tenue */
}

.edu-item h4 {
  color: #03fa6e; /* verde neón */
  margin-bottom: 4px;
}

.edu-item small {
  color: #ccc;
  font-style: italic;
}

.edu-item p {
  margin-top: 8px;
  font-size: 0.95rem;
  line-height: 1.4;
  color: #eee;
}



