# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Angular
dist/
.angular/
.angular-cache/
.tmp/
out-tsc/
coverage/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistemas operativos
.DS_Store
Thumbs.db

# Compilados temporales
*.log
*.swp
*.tmp

# Environment files (¡no subas credenciales!)
src/environments/*.ts
!src/environments/environment.ts

# Test output
testem.log
