.contacto {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

.contacto h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contacto p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #ccc;
}

.contacto-botones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.btn-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  padding: 0.8rem;
  background-color: #2f2f2f;
  color: #03fa6e;
  border: 1px solid #03fa6e;
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-contacto i {
  font-size: 1.2rem;
}

.btn-contacto:hover {
  background-color: #03fa6e;
  color: #1e1e1e;
  box-shadow: 0 0 10px #03fa6e;
}
