.contacto {
  text-align: center;  /* Centrar texto dentro del contenedor */
  font-size: 1.25rem; /* texto más grande */
}


.contacto ul {
  list-style: none;
  padding-left: 0;
  display: inline-block; /* Hace que el ul ocupe sólo el espacio necesario */
  text-align: left; /* Para que los li mantengan la alineación izquierda */
  margin: 0 auto; /* Centra el ul dentro del div */
}

.contacto li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
}

.contacto i {
  color: #03fa6e;
  font-size: 1.8rem; /* iconos más grandes */
  width: 30px;
  margin-right: 1rem;
}

.contacto a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.contacto a:hover {
  color: #00ff99;
  text-shadow: 0 0 1px #00ff99, 0 0 1px #00ff99, 0 0 1px #00ff99, 0 0 5px #00ff99;
  font-weight: bold;
}
