
  <!-- Presentación principal -->
  <!-- <section class="hero">
    <h1>Hola, soy Sebastián Clavijo👋</h1>
    <p>
      Desarrollador FullStack y creador de videojuegos con enfoque en soluciones prácticas y visuales.
      Combino el mundo del software con la creatividad del gaming para construir experiencias impactantes.
    </p>
  </section> -->

  <app-about></app-about>
  <hr class="separador-neon">
  <app-portafolio></app-portafolio> 
  <hr class="separador-neon"> 
  <app-contacto></app-contacto>

