
  <!-- Presentación principal -->
  <!-- <section class="hero">
    <h1>Hola, soy Sebastián Clavijo👋</h1>
    <p>
      Desarrollador FullStack y creador de videojuegos con enfoque en soluciones prácticas y visuales.
      Combino el mundo del software con la creatividad del gaming para construir experiencias impactantes.
    </p>
  </section> -->
  <!-- <div class="text-center max-w-3xl mx-auto leading-relaxed text-gray-300">    
    <section id="about" class="text-center mt-10 px-4">
      <h2 class="text-3xl font-bold mb-4">Sobre mí</h2>
      <p class="text-base md:text-lg text-gray-300 max-w-3xl mx-auto leading-relaxed">
        Soy Sebastián, desarrollador de software con experiencia en Angular, Node.js, y .NET. Me apasiona la creación de soluciones digitales, el diseño limpio y la optimización del rendimiento. Siempre estoy buscando aprender y construir proyectos que generen impacto real.
      </p>
    </section>
  </div> -->
  <app-about></app-about>
  <hr class="separador-neon">
  <app-portafolio></app-portafolio> 
  <hr class="separador-neon"> 
  <app-contacto></app-contacto>

