.web-project{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px; /* Limita el ancho máximo */
  margin: 0 auto;     /* Centra el contenido */
}

.web-card{
  background-color: #1e1e1e;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease-in-out;
}

.web-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px #69f0ae;
  transform: translateY(-6px);
  outline: none;
}

.tecnologias .badge {
  display: inline-block;
  background: #333;
  color: #03fa6e;
  padding: 0.3rem 0.7rem;
  margin: 0.2rem;
  border-radius: 5px;
  border: 0.5px solid #03fa6e;
  font-size: 0.85rem;
}

.imagenes img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 1rem;
}

.acciones {
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.acciones a {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #03fa6e;
  font-weight: bold;
  color: #03fa6e;
  background-color: #2f2f2f; /* color primario */
  transition: background-color 0.3s;
}

.acciones a:hover {
  background-color: #03fa6e;
  color: #2f2f2f;
  box-shadow: 0 0 5px #69f0ae;
}
