<div class="portafolio-container">  
  <h1 class="titulo-seccion"> Proyectos de Desarrollo Web </h1>
  <section class="projects">
    <div *ngFor="let web of webs" class="card" [ngClass]="{ 'expandido': web.expandido }">
      <h2>{{ web.titulo }}</h2>      
      <div class="card-info">
        <div class="tecnologias">
          <span *ngFor="let tech of web.tecnologias" class="badge" style="display: inline-flex; align-items: center; gap: 6px;">
            <i [class]="tech.icono" style="font-size: 1.2rem;"></i>
            {{ tech.nombre }}
          </span>
        </div>
        
        <div class="carrusel">
          <!-- Botón Izquierdo -->
          <a class="slide-btn left"(click)="cambiarSlide(web, -1)"*ngIf="web.medios && web.medios.length > 1">
            <i class="fas fa-chevron-left"></i>
          </a>

          <!-- Contenedor del medio -->
          <div class="media-container">
            <ng-container *ngIf="web.medios && web.medios.length > 0">
              <ng-container *ngIf="esImagen(web.medios[web.currentSlide!])">
                <img [src]="web.medios[web.currentSlide!]" alt="Media del web" />
              </ng-container>

              <ng-container *ngIf="esVideo(web.medios[web.currentSlide!])">
                <iframe
                  width="100%"
                  height="315"
                  [src]="web.medios[web.currentSlide!] | safeUrl"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </ng-container>
            </ng-container>
          </div>

          <!-- Botón Derecho -->
          <a
            class="slide-btn right"
            (click)="cambiarSlide(web, 1)"
            *ngIf="web.medios && web.medios.length > 1"
          >
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>

        <div class="descripcion" [class.colapsado]="!web.expandido && web.descripcion.length > 250">
          {{ web.descripcion }}
          <a *ngIf="web.descripcion.length > 250" (click)="web.expandido = !web.expandido" class="ver-mas-btn">
            {{ web.expandido ? 'Ver menos' : 'Ver más' }}
          </a>
        </div>
      </div>      

      <div class="acciones">
        <a mat-button color="primary" [href]="web.enlaceCodigo" target="_blank">Ver código</a>
        <a mat-button color="accent" [href]="web.enlaceDemo" download>Descargar Demo</a>
      </div>
    </div>
  </section>

</div>