/* Contenedor principal con grid */
.destacados {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Tarjeta de proyecto destacado */
.destacado-card {
  background-color: #1e1e1e;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}

.destacado-card:hover {
  transform: scale(1.02) translateY(-6px);
  box-shadow: 0 0 15px #69f0ae;
  outline: none;
}


/* Tecnologías */
.tecnologias {
  margin: 1rem 0;
}

/* Imágenes */
.imagenes img {
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

/* Acciones */
.acciones {
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.acciones a {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #03fa6e;
  font-weight: bold;
  color: #03fa6e;
  background-color: #2f2f2f;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.acciones a:hover {
  background-color: #03fa6e;
  color: #2f2f2f;
  box-shadow: 0 0 5px #69f0ae;
}
