

.highlights {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.highlight-card {
  background-color: #1e1e1e;
  color: #b9f6ca;
  cursor: pointer;
  width: 280px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 0 8px #000;
}

.highlight-card:hover,
.highlight-card:focus {
  box-shadow: 0 0 15px #69f0ae;
  transform: translateY(-6px);
  outline: none;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin: 20px;
  color: #03fa6e; /* verde neón */
}

mat-card-content {
  font-size: 1rem;
  line-height: 1.4;
}


