/* RESET BÁSICO */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Consolas', monospace, 'Courier New', monospace;
  line-height: 1.5;
}

/* CONTENEDOR GENERAL */
.app-container {
  max-width: 900px;
  margin: 20px auto;
  margin-top: 80px;
  padding: 0 15px;
  color: #eee;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* TÍTULOS GENERALES */
h1, h2, h3 {
  color: #03fa6e;
  margin-top: 0;
  font-family: 'Consolas', monospace, 'Courier New', monospace;
}

.hero {
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
  color: #03fa6e; /* verde neón */
}

.hero p {
  font-size: 1.3rem;
  color: #ccc;
}
.hero a {
  color: #03fa6e;
  text-decoration: none;
  font-weight: bold;
}

.hero a:hover {
  color: #121212;
  text-shadow: 0 0 1px #00ff99, 0 0 1px #00ff99, 0 0 1px #00ff99, 0 0 5px #00ff99;
  font-weight: bold;  
}

/* BOTONES ESTILO GAMEDEV */
button, .mat-button {
  background-color: #222;
  color: #69f0ae;
  border: 2px solid #69f0ae;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s ease;
}

button:hover, .mat-button:hover {
  background-color: #03fa6e;
  color: #121212;
  box-shadow: 0 0 12px #03fa6e;
}

/* FLEXBOX PARA LAYOUTS RESPONSIVE */
.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 1 1 300px; /* crece, se encoge, base mínimo 300px */
  min-width: 250px;
}


/* EFECTOS BRILLANTES EN LETRAS ESPECÍFICAS */
.glow-text {
  color: #03fa6e;
  font-weight: bold;
}

.glow-text :hover, .glow-text:focus {
  color: #00ff99;
  text-shadow: 0 0 1px #00ff99, 0 0 1px #00ff99, 0 0 1px #00ff99, 0 0 5px #00ff99;
  font-weight: bold;
}
.glow-text-sub :hover{
  color: #00ff99;
  text-shadow: 0 0 1px #00ff99, 0 0 1px #00ff99, 0 0 1px #00ff99, 0 0 5px #00ff99;
  font-weight: bold;
}

.separador-neon {
  border: none;
  height: 2px;
  background-color: #03fa6e;
  margin: 30px 0;
  box-shadow: 0 0 10px #03fa6e;
}

/* HABILIDADES */
.skills-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.skill-box {
  flex: 1 1 30%;
  min-width: 250px;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  color: white;
}

/* IMÁGENES Y MEDIA */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* TARJETAS */

.portafolio-container {  
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  margin-top: 80px;
  padding: 0 15px;
  color: #eee;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* Contenedor principal con grid */
.titulo-seccion {
  color: #03fa6e;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 1rem;
  margin: 0 auto;
  justify-content: center;
}

.card {
  background-color: #1e1e1e;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
  position: relative;
  
}

.card:hover {
  transform: scale(1.02) translateY(-6px);
  box-shadow: 0 0 15px #03fa6e;
  outline: none;
}
.card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  min-height: 2.5rem; /* espacio reservado siempre */
  color: #03fa6e;
}

.card .tecnologias {
  min-height: 3rem;
}

.card .imagenes {
  height: 180px; /* altura fija */
  overflow: hidden;
}

.card .imagenes img {
  height: 100%;
  object-fit: cover;  
}

.card.expandida {
  min-height: auto; /* o un valor más grande si prefieres */
  transition: all 0.3s ease-in-out;
}

.card-info {
  height: 500px;
}

/* Tecnologías */
.tecnologias {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.badge {
  background-color: #1e1e1e;
  color: #03fa6e;
  border: 1px solid #03fa6e;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.badge:hover {
  background: #03fa6e;
  color: #121212;
  box-shadow: 0 0 8px #03fa6e, 0 0 12px #03fa6e;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s;
  cursor: default;
}
/* Imágenes responsive */
.imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 1rem;
  flex: 1 1 calc(50% - 1rem);
}

.imagenes img {
  flex: 1 1 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.carrusel {
  position: relative;
  height: 315px; /* altura fija para que iframe y/o imagen no cambien el layout */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f2f2f2;
  border: #00ff6a 1px solid;
}

.media-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 315px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #000;
}

.media-container img,
.media-container iframe {
  width: 100%;
  height: 100%;
  object-fit: contain; /* mantiene la proporción sin deformar */
  border-radius: 12px;
}
.carrusel .slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: rgba(132, 131, 131, 0.4);
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  z-index: 999;
  border-radius: 0.5rem;
  transition: background 0.3s;
}

.carrusel .slide-btn:hover {
  color: rgba(211, 206, 206, 0.8);
}

.carrusel .slide-btn.left {
  left: 0.2rem;
}

.carrusel .slide-btn.right {
  right: 0.2rem;
}


/* Botones transparentes dentro del carrusel */
.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  z-index: 10;
  transition: color 0.3s;
}

.slide-btn:hover {
  color: #222;
}

.slide-btn.left {
  left: 1rem; /* distancia fija del borde */
}

.slide-btn.right {
  right: 1rem; /* distancia fija del borde */
}

.descripcion {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #ddd;
  line-height: 1.4rem;
  height: auto;
  margin-bottom: 0.5rem;
  overflow: hidden;
  transition: height 0.3s ease-in-out;}


.descripcion.expandida {
  height: auto;
  overflow: visible;
}

.ver-mas-btn {
  background: none;
  border: none;
  color: #00ff6a;
  font-size: 0.9rem;
  cursor: pointer;
  align-self: flex-start;
  margin-bottom: 1rem;
  font-family: 'Consolas', Courier, monospace;
}

.ver-mas-btn:hover {
  background: none;
  border: none;
  color: #00ff6a;
  font-size: 0.9rem;
  cursor: pointer;
  align-self: flex-start;
  margin-bottom: 1rem;
  font-family: 'Consolas', Courier, monospace;
}

/* Acciones */
.acciones {
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.acciones a {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #03fa6e;
  font-weight: bold;
  color: #03fa6e;
  background-color: #2f2f2f;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.acciones a:hover {
  background-color: #03fa6e;
  color: #2f2f2f;
  box-shadow: 0 0 5px #69f0ae;
}
/* MENÚ DESPLEGABLE */
.mat-mdc-menu-content {
    margin: 0;
    padding: 0 0;
    outline: 0;
    background: #222 !important;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #03fa6e;
  border-top: 1px solid #03fa6e;
}
footer p {
  margin: 10px;
}

/* MEDIA QUERIES: ajustes por tamaño */

@media (min-width: 1024px) {
  .imagenes img {
    flex: 1 1 calc(33.333% - 1rem);
  }
}


@media (max-width: 900px) {
  .app-container {
    padding: 15px 10px;
  }
  h1 {
    font-size: 1.8rem;
  }
  .col {
    min-width: 200px;
  }
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  button, .mat-button {
    width: 100%;
    padding: 14px 0;
  }
  .imagenes img {
    flex: 1 1 calc(50% - 1rem);
  }
  .slide-btn {
    font-size: 1.8rem;
    padding: 0 0.5rem;
  }

  .slide-btn.left {
    left: 1rem;
  }

  .slide-btn.right {
    right: 1rem;
  }

  .media-container {
    padding: 0; /* elimina padding en celular para que el slide no se desplace */
  }
}





