.spacer {
  flex: 1 1 auto;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  background-color: var(--color-card);  /* Usamos el color de fondo adaptable */
  color: var(--color-acento);           /* Color acento */
  border-bottom: 1px solid var(--color-acento);
  font-weight: bold;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-btn {
  background: none;
  border: none;
  color: var(--color-acento);
  cursor: pointer;
  padding: 0;
}

.submenu {
  padding-left: 1.5rem;
}

.desktop-menu {
  font-family: 'Orbitron', sans-serif;
}

.custom-sidenav {
  padding-top: 64px;
  background-color: var(--color-bg) !important;
  color: var(--color-text);
  height: 100%;
  z-index: 1000;
  font-family: 'Orbitron', sans-serif;
}

.custom-sidenav::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: var(--color-acento);
}

.sidenav-container {
  z-index: 1000;
}

.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 2rem;
  width: 150px;
}

.sidenav ul li {
  margin: 15px 0;
}

.sidenav ul li a {
  display: block;
  text-align: left;
  color: var(--color-acento);
  text-decoration: none;
  font-weight: bold;
}

/* Botón de menú solo visible en móvil */
.mobile-toggle {
  display: none;
}

/* Quita la flechita por defecto */
details summary {
  color: var(--color-acento);
  cursor: pointer;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

details summary:hover {
  text-shadow: 0 0 5px var(--color-acento);
  color: var(--color-acento);
}

details summary::-webkit-details-marker {
  display: none;
}

details summary,
.sidenav ul li a {
  display: block;
  padding: 10px 0;
  font-weight: bold;
}

/* Submenú */
details ul {
  padding-left: 1rem;
  margin-top: 5px;
}

details[open] summary::after {
  content: "▼";
  float: right;
  font-size: 0.8rem;
  margin-left: 8px;
}

details:not([open]) summary::after {
  content: "▶";
  float: right;
  font-size: 0.8rem;
  margin-left: 8px;
}

.active-link {
  font-weight: bold;
  text-shadow: 0 0 5px var(--color-acento);
}

.active-sub-link {
  font-weight: bold;
  color: var(--color-acento) !important;
  text-shadow: 0 0 5px var(--color-acento);
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-toggle {
    display: block;
    margin-left: auto;
  }

  .logo-img {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
