.spacer {
  flex: 1 1 auto;
}

.menu-bar{ 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  background-color: #222;
  color: #03fa6e;
  border-bottom: 1px solid #03fa6e;
  font-weight: bold;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-btn {
  background: none;
  border: none;
  color: #00ff99; /* color verde neón */
  cursor: pointer;
  padding: 0;
}
.submenu {
  padding-left: 1.5rem;
}

.desktop-menu {
  font-family: 'Orbitron', sans-serif;
}

.custom-sidenav {
  padding-top: 64px; /* Coincide con la altura del menú */
  background-color: #1e1e1e !important;
  color: #03fa6e;
  height: 100%;  
  font-family: 'Orbitron', sans-serif;
}

.custom-sidenav::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px; /* grosor de la línea */
  height: 100%;
  background-color: #00ff99; /* verde neón */
}

/* === SIDENAV ESTILO PERSONALIZADO === */

.sidenav ul {
  list-style: none;
  padding: 0;
  margin: 2rem;
  width: 150px; /* ancho fijo para el sidenav */
}

.sidenav ul li {
  margin: 15px 0;
}

.sidenav ul li a {
  display: block;
  text-align: left;
  color: #03fa6e; /* mismo verde neón de tus botones */
  text-decoration: none;
  font-weight: bold;
}

/* BOTÓN DE MENÚ SOLO EN MÓVIL */
.mobile-toggle {
  display: none;
}

/* Quita el triángulo/flechita por defecto */
details summary {
  color: #03fa6e;
  cursor: pointer;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

details summary:hover {
  text-shadow: 0 0 5px #00ff99;
  color: #00ff99;
}

details summary::-webkit-details-marker {
  display: none;
}


/* Ajusta alineación del texto */
details summary,
.sidenav ul li a {
  display: block;
  padding: 10px 0;
  font-weight: bold;
}

/* Estilo para submenu */
details ul {
  padding-left: 1rem;
  margin-top: 5px;
}

details[open] summary::after {
  content: "▼";
  float: right;
  font-size: 0.8rem;
  margin-left: 8px;
}

details:not([open]) summary::after {
  content: "▶";
  float: right;
  font-size: 0.8rem;
  margin-left: 8px;
}

.active-link {
  font-weight: bold;
  text-shadow: 0 0 5px #00ff99;
}

.active-sub-link {
  font-weight: bold;
  color: #00ff99 !important;
  text-shadow: 0 0 5px #00ff99;
}


@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-toggle {
    display: block;
    margin-left: auto;
  }

  .logo-img {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
}
