<mat-toolbar class="menu-bar" color="primary">
  <button mat-icon-button 
          class="mobile-toggle" 
          [ngClass]="{ 'menu-open': sidenav.opened }"
          (click)="toggleSidenav()" 
          aria-label="Abrir menú">
    <mat-icon>menu</mat-icon>
  </button>

  <a class="logo-img" mat-button routerLink="/">
    <img [src]="logoUrl" alt="Logo" id="logo" width="300" style="margin-right: 10px;" />
  </a>

  <span class="spacer"></span>

  <ng-container>
    <div class="desktop-menu">
      <a class="glow-text" mat-button [routerLink]="'/'" [ngClass]="{'active-link': isActive('/')}">Inicio</a>

      <a class="glow-text" mat-button [matMenuTriggerFor]="portfolioMenu" 
         [routerLink]="'/portafolio'" 
         [ngClass]="{'active-link': currentRoute.startsWith('/portafolio')}">
        Portafolio
      </a>
      <mat-menu #portfolioMenu="matMenu" class="mat-menu-bg">
        <a class="glow-text-sub" mat-menu-item routerLink="/portafolio/videojuegos" routerLinkActive="active-link">
          Videojuegos
        </a>
        <a class="glow-text-sub" mat-menu-item routerLink="/portafolio/desarrollo-web" routerLinkActive="active-link">
          Desarrollo Web
        </a>
      </mat-menu>

      <a class="glow-text" mat-button [routerLink]="'/contacto'" [ngClass]="{'active-link': isActive('/contacto')}">Contacto</a>
    </div>
  </ng-container>

  <button class="btn-tema" (click)="cambiarTema()">
    <i class="fas icono-tema" [ngClass]="esModoOscuro ? 'fa-sun' : 'fa-moon'"></i>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" (click)="cerrarSiClickFuera($event)">
  <mat-sidenav #sidenav mode="over" class="sidenav custom-sidenav" [fixedInViewport]="true" [disableClose]="false">
    <ul>
      <li>
        <a class="glow-text" mat-button (click)="navigateAndClose('/')">Inicio</a>
      </li>
      <li>
        <div class="menu-item">
          <a class="glow-text" mat-button (click)="navigateAndClose('/portafolio')">Portafolio</a>
          <button class="arrow-btn" mat-icon-button (click)="mostrarSubmenu = !mostrarSubmenu">
            <mat-icon>{{ mostrarSubmenu ? 'expand_less' : 'play_arrow' }}</mat-icon>
          </button>
        </div>
        <ul *ngIf="mostrarSubmenu" class="submenu">
          <li>
            <a class="glow-text" mat-button (click)="navigateAndClose('portafolio/videojuegos')">Videojuegos</a>
          </li>
          <li>
            <a class="glow-text" mat-button (click)="navigateAndClose('portafolio/desarrollo-web')">Desarrollo Web</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="glow-text" mat-button (click)="navigateAndClose('/contacto')">Contacto</a>
      </li>
    </ul>
  </mat-sidenav>
</mat-sidenav-container>
